<% layout('./layout/boilerplate') %>
<h1 class="mb-3 text-center">Login</h1>
<div class="col-4 offset-4">
<form action="/login" method="post">
<div class="mb-3">
    <label class=" form-label" for="username">Username</label>
    <input type="text" class=" form-control"  name="username">
</div>
<div class="mb-3">
    <label class=" form-label" for="password">Password</label>
    <input class=" form-control" type="password" name="password">
</div>
<button class="btn btn-success offset-5">Submit</button>

</form>
</div>

